/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

$cl: black;
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  background-color: #ffffff;
  color: darken($cl, 60%);
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  font-size: 32px;
  font-weight: 800;
 
  &:hover {
    text-decoration: none;
  }
}
.main {
  padding-top: 10px;
}
a {
  color: $cl;
  text-decoration: none;
}

a:hover {
  color: $cl;
  text-decoration: underline;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

p,
ul,
ol {
  margin: 0 0 15px 0;
}

* + p,
* + ul,
* + ol {
  margin-top: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}