$cl: black;
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  background-color: #ffffff;
  color: $cl;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 32px;
  font-weight: 800;
 
  &:hover {
    text-decoration: none;
  }
}
.main {
  padding-top: 10px;
}
a {
  color: $cl;
  text-decoration: none;
}

a:hover {
  color: $cl;
  text-decoration: underline;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

p,
ul,
ol {
  margin: 0 0 15px 0;
}

* + p,
* + ul,
* + ol {
  margin-top: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}
