/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

$fs: 16px;
$bgc: rgba(245, 57, 0, 0.979);
$b-color: rgba(245, 57, 0, 0.979);


@mixin button-variant ($cl, $bgc, $b-color, $dark) {
  @if ($dark == "dark") {
    color: darken($cl, 10%);
    background-color: darken($bgc, 10%);
    border-color: darken($b-color, 10%);
  } @else if ($dark == "light") {
    color: lighten($cl, 10%);
    background-color: lighten($bgc, 2%);
    border-color: lighten($b-color, 2%);
  } @else {
    color: $cl;
    background-color: $bgc;
    border-color: $b-color;
  } 
}
.button {
  margin: 0;
  border: 2px solid transparent;
  border-radius: 0;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  &:hover {
    text-decoration: none;
  }
  
  
  &-medium {
    padding: 16px 32px;
    font-size: $fs;
  }
  &-small {
    padding: 4px 8px;
    font-size: 12px;
  }
  
  &-primary {
    @include button-variant(white, lighten($bgc, 2%),lighten($b-color, 2%), "light");   
    padding: 12px 15px;
    font-size: $fs; 
    font-weight: bold;
  }
  
  &-primary:hover {
    @include button-variant(red, white,red,none);
    
  }
  
  &-large {
    @include button-variant(white, lighten($bgc, 2%),lighten($b-color, 2%),"light");  
    font-size: $fs;
    min-width: 100%;
    padding: 12px 15px;
  }
  
  &-large:hover {
    @include button-variant(red, white,red,none);
    font-size: $fs+1; 
  }
  
  &-success {
    @include button-variant(white, green,none, none);
   
  }
  
  &-success:hover {
    @include button-variant(green, transparent, green, none);
  
  }
  
  &-danger {
    @include button-variant(white, red,none,none);
   
  }
  
  &-danger:hover {
    @include button-variant(red, transparent,red, none);
    
  }
  
  &-warning {
    @include button-variant(white, yellow,none, none);
    
  }
  
  &-warning:hover {
    @include button-variant(yellow, transparent,yellow, none);
  
  }
  
}