
.button {
  margin: 0;
  border: 2px solid transparent;
  border-radius: 0;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  &:hover {
    text-decoration: none;
  }
  
  &-large {
    padding: 32px 64px;
    font-size: 20px;
  }
  &-medium {
    padding: 16px 32px;
    font-size: 16px;
  }
  &-small {
    padding: 4px 8px;
    font-size: 12px;
  }
  
  &-primary {
    background-color: red;
    color: white;
    padding: 12px 15px;
    font-weight: bold;
  }
  
  &-primary:hover {
    background-color: white;
    color: red;
    border-color: red;
  }
  
  &-success {
    background-color: green;
    color: #ffffff;
  }
  
  &-success:hover {
    background-color: transparent;
    color: green;
    border-color: green;
  }
  
  &-danger {
    background-color: red;
    color: #ffffff;
  }
  
  &-danger:hover {
    background-color: transparent;
    color: red;
    border-color: red;
  }
  
  &-warning {
    background-color: yellow;
    color: #ffffff;
  }
  
  &-warning:hover {
    background-color: transparent;
    color: yellow;
    border-color: yellow;
  }
  
}
