$cl: white;
$bg: rgba(0, 0, 0, 0.945);

@mixin footer-variant ($ds, $jc, $pt) {
 display: $ds;
 justify-content: $jc;
 padding-top: $pt;
}

.footer {
  @include  footer-variant (flex, space-between, 25px);
 /* display: flex;*/
  flex-direction: row;
 /* justify-content: space-between;*/
  
  color: $cl;
 /* padding-top: 25px;*/
  padding-bottom: 20px;
  
  &-right {
    @include  footer-variant (flex, space-around, none);
  /* display: flex;
   justify-content: space-around;*/
  }
  &-copwryte {
    padding-top: 8px;
  }
}
.wrapper-footer {
  background: darken($bg, 10%);
}