$color: white;
$bg: black;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  color: $color;
  padding-top: 25px;
  padding-bottom: 20px;
  
  &-right {
   display: flex;
   justify-content: space-around;
  }
  &-copwryte {
    padding-top: 8px;
  }
}
.wrapper-footer {
  background: $bg;
}