@mixin grid-variant ($pad, $mar){
  padding: $pad;
  margin: $mar;
}
.grid {
  @include grid-variant (none, -20px);
  display: flex;
  flex-wrap: wrap;
 /* margin: -20px;*/
  &-item {
    @include grid-variant (20px, none);

   /* padding: 20px;*/
  }
  &-wrapper {
    
    overflow: hidden;
    
  }
  &-border {
    height: 100%;
    border-left: 3px solid rgba(255, 59, 0, 0.979);
    padding-top: 0px;
    padding-bottom: 0px;
    
    
  }
  &-large {
    @include grid-variant (none, 0 -50px);
   /* margin: 0 -50px;*/
  }
  &-large &-item {
    @include grid-variant (0 50px, none);
    /*padding: 0 50px;*/
  }
  
  &-medium {
    @include grid-variant (none, 0 -40px);
    /*margin: 0 -40px;*/
  }
  &-medium &-item {
    @include grid-variant (0 40px, none);
  /*  padding: 0 40px;*/
  }
  &-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-text-center {
    text-align: center;
  }
}
