
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  &-item {
    padding: 20px;
  }
  &-wrapper {
    overflow: hidden;
  }
  &-large {
    margin: 0 -50px;
  }
  &-large .grid-item {
    padding: 0 50px;
  }
  
  &-medium {
    margin: 0 -40px;
  }
  &-medium .grid-item {
    padding: 0 40px;
  }
  &-hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
