
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
  &-item {
    padding: 20px;
  }
  &-wrapper {
    
    overflow: hidden;
    
  }
  &-border {
    border-left: 3px solid red;
    padding-top: 0px;
    padding-bottom: 0px;
    
  }
  &-large {
    margin: 0 -50px;
  }
  &-large &-item {
    padding: 0 50px;
  }
  
  &-medium {
    margin: 0 -40px;
  }
  &-medium &-item {
    padding: 0 40px;
  }
  &-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
