$fs: 16px;
$cl: white;
.hero {
    color: $cl;
    padding-top: 15px;
    background-color: rgb(126, 189, 214);
&-title {
    font-size: $fs*2;

    }
    
&-description {
        padding-bottom: 10px;
        font-size: $fs*1.5;
    }
    
}

