.list {
  display: flex;
 
  
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  &-radius {
    border-radius: 50%;
    background-color: #fff;
    width: 30px;
    height: 30px;
    
  }
  
}
