$cl: rgba(245, 0, 0, 0.979);
.nav {
    display: flex;
    font-weight: 600;
    font-size: 20px;

& &-item {
    padding-right: 25px;
}
& &-item:hover {
    display: table;
    border-bottom: 4px solid $cl ;
    padding-bottom: 10px;
    /*line-height: 4;*/
    text-decoration: none;
       
}

& .is-active {
    color: $cl;
}
&-border {
    padding-left: 4px;
    border-left: 2px solid white;
}
}