$cl: rgba(245, 57, 0, 0.979);
$fs: 20px;
$fw: 400;
$pr: 5px;


.nav {
    display: flex;
    font-weight: $fw + 200;
   
    

& &-item {
    padding-right: $pr+20; 
    font-size: $fs;
}
& &-item:hover {
  
    color: lighten($cl, 5%);
    display: table;
    border-bottom: 4px solid $cl ;
    padding-bottom: 15px;  
    text-decoration: none;
       
}

& .is-active {
    color: lighten($cl, 5%);
}
&-border {
    padding-left: 4px;
    border-left: 2px solid white;
}
& &-padding {
    padding-right: $pr;   
}
& &-link-footer {

}
& &-link-footer:hover {
    
    color: lighten($cl, 5%);
}
}