
$fs: 16px;
.section {
  padding: 100px 0;


&-title {
  
}
&-subtitle {
  font-size: $fs + 2;
  color: rgb(112, 112, 112);
}
&-description {
}
&-services {
  text-align: center;
 /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
}
&-spillt {
  
}
&-discuss {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
&-title-padding {
  padding-bottom: 30px;
}
}