/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

$cl: rgba(0, 0, 0, 0.63);
$fs: 16px;
.section {
  padding: 100px 0;


&-title {
  color: derken($cl, 10%);
}
&-subtitle {
  font-size: $fs + 2;
  color: lighten($cl, 10%);
  
  margin-bottom: 0px;
}
&-description {
}
&-services {
  text-align: center;
 
}
&-spillt {
  margin-top: 20px;
  
}
&-discuss {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
}
&-title-padding {
  padding-bottom: 30px;
}
}