/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

$wth: 300px;
$ht: 200px;
$cl: rgb(43, 37, 37);

.card {
  

&-title {
  color: darken($cl, 5%);
}

&-description {
  color: lighten($cl, 30%);
}

&-image {
  
}

&-image > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: $wth;
  min-height: $ht;
}
}