/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@font-face {
  font-family: "motion";
  src: url("/../fonts/motion.eot?f8nqcj");
  src: url("/../fonts/motion.eot?f8nqcj#iefix") format("embedded-opentype"),
    url("/../fonts/motion.ttf?f8nqcj") format("truetype"),
    url("/../fonts/motion.woff?f8nqcj") format("woff"),
    url("/../fonts/motion.svg?f8nqcj#motion") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "motion" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$cl: black;
.icon-heart:after {
  content: "\e904";
  padding-left: 8px;
}
.icon-linkedin:before {
  content: "\e900"; 
}

.icon-linkedin {

}
.icon-linkedin:hover {
  text-decoration: none;
  color: white;
}
.icon-facebook:before {
  content: "\e901";  
}
.icon-facebook {
 
}
.icon-facebook:hover {
 text-decoration: none;
  color: white;
}
.icon-insta:before {
  content: "\e902";
  
}
.icon-insta {

}
.icon-insta:hover {
  text-decoration: none;
  color: white;
  font-size: 18px;
 }
.icon-search:before {
  content: "\e903";
  
  &-search {
    
  }
  &-search:hover {
    text-decoration: none;

  }
}