/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

$cl: white;
$bg: rgba(0, 0, 0, 0.945);

@mixin footer-variant ($ds, $jc, $pt) {
 display: $ds;
 -webkit-box-pack: $jc;
     -ms-flex-pack: $jc;
         justify-content: $jc;
 padding-top: $pt;
}

.footer {
  @include  footer-variant (flex, space-between, 25px);
 
  -webkit-box-orient: horizontal;
 
  -webkit-box-direction: normal;
 
      -ms-flex-direction: row;
 
          flex-direction: row;
 
  
  color: $cl;
 
  padding-bottom: 20px;
  
  &-right {
    @include  footer-variant (flex, space-around, none);
  
  }
  &-copwryte {
    padding-top: 8px;
  }
}
.wrapper-footer {
  background: darken($bg, 10%);
}