/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@mixin form-variant ($bgc, $cl, $b-color) {
  
  background-color: $bgc;
  color: $cl;
  border-color: $b-color;
}
.form {
  .form-group {
    margin-bottom: 40px;
  }
  .form-control {
    position: relative;
    margin-bottom: 10px;
  }
  
  .input,
  .select,
  .textarea {
    @include form-variant (white, #666, none);
    max-width: 100%;
    width: 100%;
    height: 55px;
    padding: 0 20px;
   
    border: 2px solid #e2d1d1;
    margin: 0;
    border-radius: none;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .input:focus,
  .select:focus,
  .textarea:focus {
    @include form-variant (white, #666, #1e87f0);
    outline: none;
   
  }
  
  .input:disabled,
  .select:disabled,
  .textarea:disabled {
    @include form-variant (#f8f8f8, #999, #e5e5e5);
   
  }
  
  .input::-webkit-input-placeholder {
    @include form-variant (none, #999, none);
    
  }
  
  .input::-moz-placeholder {
    @include form-variant (none, #999, none);
    
  }
  
  .input:-ms-input-placeholder {
    @include form-variant (none, #999, none);
    
  }
  
  .input::-ms-input-placeholder {
    @include form-variant (none, #999, none);
    
  }
  
  .input::placeholder {
    @include form-variant (none, #999, none);
    
  }
  
  .textarea::-webkit-input-placeholder {
    @include form-variant (none, #999, none);
  }
  
  .textarea::-moz-placeholder {
    @include form-variant (none, #999, none);
  }
  
  .textarea:-ms-input-placeholder {
    @include form-variant (none, #999, none);
  }
  
  .textarea::-ms-input-placeholder {
    @include form-variant (none, #999, none);
  }
  
  .textarea::placeholder {
    @include form-variant (none, #999, none);
  }
  
  .input-danger,
  .input-danger:focus {
    @include form-variant (none, #f0506e, #f0506e);
    
  }
  
  .input-success,
  .input-success:focus {
    @include form-variant (none, #32d296, #32d296);
   
  }
  
  .form-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    @include form-variant (none, #999, none);
  }
  
  .form-icon:not(.form-icon-flip) ~ .input {
    padding-left: 40px !important;
  }
  
  .form-icon-flip {
    right: 0;
    left: auto;
  }
  .form-icon-flip ~ .input {
    padding-right: 40px !important;
  }
  
  .textarea {
    resize: none;
    height: 155px;
    padding-top: 16px;
  }
}
