/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@mixin grid-variant ($pad, $mar){
  padding: $pad;
  margin: $mar;
}
.grid {
  @include grid-variant (none, -20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 
  &-item {
    @include grid-variant (20px, none);

   
  }
  &-wrapper {
    
    overflow: hidden;
    
  }
  &-border {
    height: 100%;
    border-left: 3px solid rgba(255, 59, 0, 0.979);
    padding-top: 0px;
    padding-bottom: 0px;
    
    
  }
  &-large {
    @include grid-variant (none, 0 -50px);

  }
  &-large &-item {
    @include grid-variant (0 50px, none);
   
  }
  
  &-medium {
    @include grid-variant (none, 0 -40px);
 
  }
  &-medium &-item {
    @include grid-variant (0 40px, none);

  }
  &-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  &-text-center {
    text-align: center;
  }
}