@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  background-color: #ffffff;
  color: black; }

.container {
  width: 1000px;
  margin: 0 auto; }

.wrapper {
  position: relative;
  overflow: hidden; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo {
  font-size: 32px;
  font-weight: 800; }
  .logo:hover {
    text-decoration: none; }

.main {
  padding-top: 10px; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: underline; }

figure {
  margin: 0; }

img {
  width: 100%;
  height: 100%; }

p,
ul,
ol {
  margin: 0 0 15px 0; }

* + p,
* + ul,
* + ol {
  margin-top: 15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0; }

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em; }

.nav {
  display: flex;
  font-weight: 600; }
  .nav .nav-item {
    padding-right: 25px;
    font-size: 20px; }
  .nav .nav-item:hover {
    color: rgba(255, 71, 16, 0.979);
    display: table;
    border-bottom: 4px solid rgba(245, 57, 0, 0.979);
    padding-bottom: 15px;
    /*line-height: 4;*/
    text-decoration: none; }
  .nav .is-active {
    color: rgba(255, 71, 16, 0.979); }
  .nav-border {
    padding-left: 4px;
    border-left: 2px solid white; }
  .nav .nav-padding {
    padding-right: 5px; }
  .nav .nav-link-footer:hover {
    color: rgba(255, 71, 16, 0.979); }

.hero {
  color: white;
  padding-top: 15px;
  background-color: #76b9d4; }
  .hero-title {
    font-size: 32px; }
  .hero-description {
    padding-bottom: 10px;
    font-size: 19.2px;
    color: white; }

.section {
  padding: 100px 0; }
  .section-title {
    color: derken(rgba(0, 0, 0, 0.63), 10%); }
  .section-subtitle {
    font-size: 18px;
    color: rgba(26, 26, 26, 0.63);
    margin-bottom: 0px; }
  .section-services {
    text-align: center; }
  .section-discuss {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .section-title-padding {
    padding-bottom: 30px; }

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px; }
  .grid-item {
    padding: 20px; }
  .grid-wrapper {
    overflow: hidden; }
  .grid-border {
    height: 100%;
    border-left: 3px solid rgba(255, 59, 0, 0.979);
    padding-top: 0px;
    padding-bottom: 0px; }
  .grid-large {
    margin: 0 -50px; }
  .grid-large .grid-item {
    padding: 0 50px; }
  .grid-medium {
    margin: 0 -40px; }
  .grid-medium .grid-item {
    padding: 0 40px; }
  .grid-flex-center {
    display: flex;
    justify-content: center;
    align-items: center; }
  .grid-text-center {
    text-align: center; }

.card-title {
  color: #1d1919; }
.card-description {
  color: #7d6c6c; }
.card-image > img {
  object-fit: cover;
  width: 300px;
  min-height: 200px; }

.button {
  margin: 0;
  border: 2px solid transparent;
  border-radius: 0;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none; }
  .button:hover {
    text-decoration: none; }
  .button-medium {
    padding: 16px 32px;
    font-size: 16px; }
  .button-small {
    padding: 4px 8px;
    font-size: 12px; }
  .button-primary {
    color: white;
    background-color: rgba(255, 59, 0, 0.979);
    border-color: rgba(255, 59, 0, 0.979);
    padding: 12px 15px;
    font-size: 16px;
    font-weight: bold; }
  .button-primary:hover {
    color: red;
    background-color: white;
    border-color: red; }
  .button-large {
    color: white;
    background-color: rgba(255, 59, 0, 0.979);
    border-color: rgba(255, 59, 0, 0.979);
    font-size: 16px;
    width: 100%;
    padding: 12px 15px; }
  .button-large:hover {
    color: red;
    background-color: white;
    border-color: red;
    font-size: 17px; }
  .button-success {
    background-color: green;
    color: #ffffff; }
  .button-success:hover {
    background-color: transparent;
    color: green;
    border-color: green; }
  .button-danger {
    background-color: red;
    color: #ffffff; }
  .button-danger:hover {
    background-color: transparent;
    color: red;
    border-color: red; }
  .button-warning {
    background-color: yellow;
    color: #ffffff; }
  .button-warning:hover {
    background-color: transparent;
    color: yellow;
    border-color: yellow; }

.width-1-1 {
  width: 100%; }

.width-1-2 {
  width: 50%; }

.width-1-3 {
  width: 33.33%; }

.width-2-3 {
  width: 66.66%; }

.width-1-4 {
  width: 25%; }

.width-1-5 {
  width: 20%; }

.width-2-5 {
  width: 40%; }

.width-3-5 {
  width: 60%; }

.width-4-5 {
  width: 80%; }

@media (min-width: 480px) {
  .width-1-1-xs {
    width: 100%; }

  .width-1-2-xs {
    width: 50%; }

  .width-1-3-xs {
    width: 33.33%; } }
@media (min-width: 640px) {
  .width-1-1-sm {
    width: 100%; }

  .width-1-2-sm {
    width: 50%; }

  .width-1-3-sm {
    width: 33.33%; } }
@media (min-width: 960px) {
  .width-1-1-md {
    width: 100%; }

  .width-1-2-md {
    width: 50%; }

  .width-1-3-md {
    width: 33.33%; } }
@media (min-width: 1200px) {
  .width-1-1-lg {
    width: 100%; }

  .width-1-2-lg {
    width: 50%; }

  .width-1-3-lg {
    width: 33.33%; } }
.form .form-group {
  margin-bottom: 40px; }
.form .form-control {
  position: relative;
  margin-bottom: 10px; }
.form .input,
.form .select,
.form .textarea {
  max-width: 100%;
  width: 100%;
  height: 55px;
  padding: 0 20px;
  background-color: #fff;
  color: #666;
  border: 2px solid #e2d1d1;
  margin: 0;
  border-radius: none;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.form .input:focus,
.form .select:focus,
.form .textarea:focus {
  outline: none;
  background-color: #fff;
  color: #666;
  border-color: #1e87f0; }
.form .input:disabled,
.form .select:disabled,
.form .textarea:disabled {
  background-color: #f8f8f8;
  color: #999;
  border-color: #e5e5e5; }
.form .input::placeholder {
  color: #999; }
.form .textarea::placeholder {
  color: #999; }
.form .input-danger,
.form .input-danger:focus {
  color: #f0506e;
  border-color: #f0506e; }
.form .input-success,
.form .input-success:focus {
  color: #32d296;
  border-color: #32d296; }
.form .form-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #999; }
.form .form-icon:not(.form-icon-flip) ~ .input {
  padding-left: 40px !important; }
.form .form-icon-flip {
  right: 0;
  left: auto; }
.form .form-icon-flip ~ .input {
  padding-right: 40px !important; }
.form .textarea {
  resize: none;
  height: 155px; }

@font-face {
  font-family: "motion";
  src: url("../../fonts/motion.eot?f8nqcj");
  src: url("../../fonts/motion.eot?f8nqcj#iefix") format("embedded-opentype"), url("../../fonts/motion.ttf?f8nqcj") format("truetype"), url("../../fonts/motion.woff?f8nqcj") format("woff"), url("../../fonts/motion.svg?f8nqcj#motion") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "motion" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:after {
  content: "\e904";
  padding-left: 8px; }

.icon-linkedin:before {
  content: "\e900"; }

.icon-linkedin:hover {
  text-decoration: none;
  color: white; }

.icon-facebook:before {
  content: "\e901"; }

.icon-facebook:hover {
  text-decoration: none;
  color: white; }

.icon-insta:before {
  content: "\e902"; }

.icon-insta:hover {
  text-decoration: none;
  color: white;
  font-size: 18px; }

.icon-search:before {
  content: "\e903"; }
  .icon-search::before-search:hover {
    text-decoration: none; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding-top: 25px;
  padding-bottom: 20px; }
  .footer-right {
    display: flex;
    justify-content: space-around; }
  .footer-copwryte {
    padding-top: 8px; }

.wrapper-footer {
  background: black; }

.list {
  display: flex; }
  .list-item {
    display: flex;
    justify-content: center;
    align-items: center; }
  .list-radius {
    border-radius: 50%;
    background-color: #fff;
    width: 35px;
    height: 35px;
    font-size: 25px;
    margin-left: 20px; }
  .list-radius:hover {
    background-color: red; }

/*# sourceMappingURL=main.css.map */
